/*buttons*/
.upcoming-events button {
  width: clamp(200px, 10vw, 10rem);
  font-size: clamp(1rem, 2vw, 1.2rem);
  border-radius: 4px;
  padding: 1rem 1.5rem;
  border: none;
  outline: none;
}

.section-button {
  background-color: var(--mobile-navbar-color);
  color: white;
}
/*sections*/
/*offer section*/
.offers-section {
  background-color: var(--active-navlink-color);
  width: 100%;
  height: clamp(10rem, 20vh, 300px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  text-align: justify;
}
.offers-link {
  background-color: var(--main-bg-color);
  align-self: center;
  border-radius: 4px;
}
.offers-text {
  display: inline-block;
  font-size: clamp(1.2rem, 2vw, 2rem);
  align-self: flex-end;
  color: white;
}
/*museums events sections*/
.van-gogh-section,
.louwman-section,
.kunstmuseum-section {
  display: flex;
  max-width: 100%;
  padding: 1rem;
  justify-content: space-between;
  font-size: clamp(1.2rem, 2.5vw, 1.5rem);
  text-align: justify;
}
.louwman-section .event-sections-text .section-para {
  text-align: center;
  color: white;
}
.event-sections-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.event-sections-text h3,
h1,
p {
  display: block;
  padding-bottom: 0.5rem;
}
.louwman-section {
  background-color: var(--navbar-color);
}
/*image-section-container, img*/
.louwman-section .image-section-container {
  padding-left: 2rem;
  padding-right: 0;
}
.image-section-container {
  max-width: 40%;
  padding-right: 2rem;
}
.sunflowers,
.auto,
.escher {
  width: 100%;
}

@media screen and (max-width: 899px) {
  .van-gogh-section,
  .kunstmuseum-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .louwman-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .image-section-container {
    max-width: 100%;
    padding: 0;
  }
  .event-sections-text {
    padding-top: 1rem;
    align-items: center;
  }
  .louwman-section .image-section-container {
    padding-left: 0;
  }
}
