.home-offers-section {
  padding: 20px;
  display: flex;
  background-color: var(--navbar-color);
  justify-content: space-evenly;
}

.home-offers-container {
  display: flex;
  justify-content: center;
}

.offers-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-offers-img {
  width: 40%;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.offers-text {
  font-size: 1.8rem;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: center;
  display: flex;
  margin-right: 200px;
  color: #dcd7c9;
}

.home-offers-button {
  margin-bottom: 50px;
  border-radius: 4px;
  background-color: var(--main-bg-color);
  padding: 5px 15px;
  border: none;
  outline: none;
  width: 150px;
  height: 40px;
  font-size: 1.2rem;
  color: var(--icon-color);
}

.home-offers-button:hover {
  background-color: var(--mobile-navbar-color);
  color: var(--main-bg-color);
  cursor: pointer;
}
/*museums events sections*/
.van-gogh-section,
.louwman-section,
.kunstmuseum-section {
  display: flex;
  max-width: 100%;
  padding: 3rem;
  justify-content: space-between;
  text-align: justify;
}

.section-button {
  margin-top: 50px;
  border-radius: 4px;
  background-color: var(--active-navlink-color);
  padding: 5px 15px;
  border: none;
  outline: none;
  width: 150px;
  height: 40px;
  font-size: 1.2rem;
  color: #dcd7c9;
}

.section-button:hover {
  background-color: var(--button-active-color);
  cursor: pointer;
  color: var(--icon-color);
}

.louwman-section {
  background-color: var(--navbar-color);
}

.louwman-section button {
  margin-top: 50px;
  border-radius: 4px;
  background-color: var(--main-bg-color);
  padding: 5px 15px;
  border: none;
  outline: none;
  width: 150px;
  height: 40px;
  font-size: 1.2rem;
  color: var(--icon-color);
}

.louwman-section button:hover {
  background-color: var(--mobile-navbar-color);
  color: var(--main-bg-color);
  cursor: pointer;
}

.event-sections-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-para {
  margin-left: 2rem;
  font-size: clamp(1.2rem, 1.8vw, 2rem);
}
.section-para h3 {
  text-align: center;
}

.sunflowers,
.auto,
.escher {
  width: 30%;
  object-fit: cover;
  border-radius: 4px;
  filter: drop-shadow(4px 4px 2px #2b2f2f);
}

@media screen and (max-width: 899px) {
  .van-gogh-section,
  .kunstmuseum-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .louwman-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .event-sections-text {
    padding-top: 1rem;
    align-items: center;
  }
  .home-offers-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .offers-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .offers-text {
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 0;
  }
  .home-offers-img {
    justify-content: center;
    align-items: center;
  }
  .section-para {
    width: 90%;
    margin: auto;
  }
  .sunflowers,
  .auto,
  .escher {
    width: 60%;
    margin: auto;
  }
}
