@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato";
  background-color: var(--main-bg-color);
}

:root {
  --main-bg-color: #dcd7c9;
  --active-navlink-color: #3f4e4f;
  --navbar-color: #3c6255;
  --mobile-navbar-color: #61876e;
  --button-active-color: #a6bb8d;
}

:root {
  --textarea-color: #dcd7c9;
  --background-color: #3f4e4f;
  --border-color: #a27b5c;
  --icon-color: #2c3639;
  --star-filled: rgb(249, 204, 72);
  --star-empty: rgb(173, 168, 168);
}
