.museumsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.museum {
  position: relative;
  flex-basis: 23%;
  height: 320px;
  margin-left: 15px;
  margin-bottom: 30px;
  border: 1px solid rgb(201, 201, 211);
  border-bottom-right-radius: 20px;
  cursor: pointer;
}

.museum:hover {
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.12),
    0 11px 30px 0 rgba(0, 0, 0, 0.12);
}

.museum-image {
  height: 100%;
  width: 100%;
  margin: auto;
  border-bottom-right-radius: 20px;
  background-size: cover;
}

.text-block {
  position: absolute;
  bottom: 20px;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  background-blend-mode: darken;
}

.text-block h4 {
  font-size: 18px;
  font-family: "Courier New", monospace;
  padding: 0;
  margin: 0;
}
.text-block p {
  font-size: 16px;
  font-family: "Courier New", monospace;
  padding-bottom: 0px;
  line-height: 1.3;
  padding: 0;
  margin: 0;
}

@media (max-width: 600px) {
  .museum {
    flex-basis: 90%;
    height: auto;
    margin-left: 15px;
    margin-bottom: 20px;
  }
}

@media (min-width: 601px) and (max-width: 889px) {
  .museum {
    flex-basis: 40%;
    height: auto;
    margin-bottom: 15px;
  }
}

@media (min-width: 890px) and (max-width: 1199px) {
  .museum {
    flex-basis: 23%;
    height: auto;
    margin-bottom: 15px;
  }
}
