.searching-bar {
  margin: 30px auto;
  width: 100%;
  display: flex;
  flex: 9.5;
  height: 10vh;
}

.search-form {
  width: 90%;
  height: 90%;
  margin: auto;
  display: flex;
  font-size: clamp(1.5rem, 2vw, 2.2rem);
  align-items: center;
  justify-content: center;
  position: relative;
}

.search-form input {
  font-size: 1.2rem;
}

.form-control {
  width: inherit;
  height: 70%;
  border: 2px solid var(--active-navlink-color);
  border-radius: 20px;
  background-color: var(--textarea-color);
  text-align: center;
  outline: none;
}
.search-icon {
  position: absolute;
  margin-top: 5px;
  left: 7%;
  padding: 0.3rem;
  color: var(--active-navlink-color);
}

.search-bar-button {
  border-radius: 10px;
  padding: 0.3rem 0.5rem;
  background-color: var(--active-navlink-color);
  position: absolute;
  color: #dcd7c9;
  right: 7%;
}

.search-bar-button:hover {
  background-color: var(--mobile-navbar-color);
  color: white;
  cursor: pointer;
}
