:root {
  --textarea-color: #dcd7c9;
  --background-color: #3f4e4f;
  --border-color: #a27b5c;
  --icon-color: #2c3639;
}

.searching-bar {
  width: 100%;
  display: flex;
  height: 10vh;
  background-color: var(--background-color);
}

.search-form {
  width: 90%;
  height: 90%;
  margin: auto;
  display: flex;
  font-size: clamp(1.5rem, 2vw, 2.2rem);
  border: 2px solid var(--border-color);
  align-items: center;
  justify-content: center;
}

.form-control {
  width: inherit;
  height: 70%;
  border: 2px solid var(--border-color);
  background-color: var(--textarea-color);
  text-align: center;
}
.search-icon {
  position: absolute;
  left: 10%;
  padding: 0.3rem;
  color: var(--border-color);
}
